/* font-face */
@font-face {
    font-family: "Spoqa Han Sans Neo";
    src: url("./assets/fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    src: url("./assets/fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    src: url("./assets/fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
    font-weight: bold;
}

/*______________________________________________________________________________*/

/* global styles */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Spoqa Han Sans Neo";
    letter-spacing: -3%;
}

:global(#root) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 1920px;
    margin: 0 auto;
}
